@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body{
 font-family: 'Poiret One', cursive;
 font-size:20px;
 font-weight:bold;
 overflow:hidden;
 background: conic-gradient(from -.5turn at bottom right, deeppink, cyan, rebeccapurple);
}

.container{
  border: 1px solid black;
  width:95%;
  height:100vh;
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
 
}
.digitalClock{
 border: 1px solid black;
 margin:auto;
 padding: 10px;
 border-radius:2px;
 color:#fff;
 background:black;

}

.digitalClock h1{
 display:inline-block;
 margin: 0 10px;
 font-weight:bold;
 font-size:5rem;
 
}
@media(max-width:480px){
.digitalClock h1{
    font-size: 4rem;
  }
}
